<footer id="footer">
  <h1><span>T</span>ravel</h1>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus fugiat, ipsa quos nulla qui alias.</p>
  <div class="social-links">
    <i class="fa-brands fa-twitter"></i>
    <i class="fa-brands fa-facebook"></i>
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-youtube"></i>
    <i class="fa-brands fa-pinterest-p"></i>
  </div>
  <div class="credit">
    <p>Designed By <a href="#">SA Coding</a></p>
  </div>
  <div class="copyright">
    <p>&copy;Copyright SA Coding. All Rights Reserved</p>
  </div>
</footer>
